body {
	min-width: 370px;
	max-width: 640px;
	width: 100%;
	margin: auto;
	font-family: Verdana, sans-serif;
	font-size: 14pt;
}

h1 {
	margin: auto;
	text-align: center;
}

#error_msgs .error_msg {
	padding: 1px;
	margin: 1%;
	border-radius: 5px;
	background: #d20;
	color: white;
}
#error_msgs .error_msg p {
	margin: 0;
	padding: 0.5em 2.5em 0.5em 0.5em;
}

a.close_btn {
	display: block;
	float: right;
	color: white;
	font-size: 1.5em;
	width: 1em;
	border: thin solid;
	border-radius: 50%;
	text-decoration: none;
	text-align: center;
}

#signin {
}
#signin label {
	display: block;
	width: 90%;
	margin: 0.5em auto;
	text-align: center;
}
#signin input[type=text] {
	display: block;
	width: 90%;
	height: 1.5em;
	margin: auto;
	font-size: 1.25em;
}
#signin button {
	display: block;
	margin: 0.5em auto;
}

button {
	display: inline-block;
	width: 30%;
	padding: 0.25em;
	font-size: 1.25em;
	border-radius: 15px;
	min-height: 3em;
	vertical-align: top;
}

#winner_overlay {
	position: absolute;
	top: 2em;
	left: 2em;
	bottom: 2em;
	right: 2em;
	margin: auto;
	border: thin solid;
	border-radius: 15px;
	background: #2d9;
	text-align: center;
}
.winner_text {
	font-size: 150%;
}
#winner_name {
	font-size: 200%;
	font-weight: bold;
}

#room_info {
	border-bottom: thick solid;
	background: #ddd;
}
#player_name {
	font-size: 110%;
	font-weight: bold;
}
#room_code {
}

#turn_info {
	width: 100%;
	padding: 2%;
}
#turn,
#score,
#last_roll {
	display: inline-block;
	width: 30%;
	margin: auto;
	vertical-align: top;
	text-align: center;
}
#current_turn_name,
#current_score,
#last_roll_score {
	font-weight: bold;
}

canvas {
	width: 100%;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

#game_controls {
	text-align: center;
}
#game_controls button {
}

#players {
	margin: 0.5em auto;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}
#players .current_turn {
	background: #0bd;
}
#players td {
	padding: 1%;
}
#players .player_turn {
	width: 10%;
}
#players .player_name,
#players .player_score {
	width: 40%;
}

#members {
	padding: 2%;
}
#member_list {
	width: 100%;
	display: flex;
	padding: 0;
	margin: 0;
}
#member_list li {
	list-style-type: none;
	padding: 1%;
}
#member_list li:nth-child(odd) {
	background: #ccc;
}

footer {
	margin: auto;
	text-align: center;
	font-size: 90%;
}
