body {
	min-width: 370px;
	max-width: 640px;
	width: 100%;
	margin: auto;
	font-family: Verdana, sans-serif;
	font-size: 14pt;
}

h1 {
	margin: auto;
	text-align: center;
}

#error_msgs .error_msg {
	box-sizing: border-box;
	padding: 1px;
	margin: 5px;
	border-radius: 5px;
	background: #d20;
	color: white;
}
#error_msgs .error_msg p {
	margin: 0;
	padding: 0.5em 2.5em 0.5em 0.5em;
}

a.close_btn {
	display: block;
	float: right;
	color: white;
	font-size: 1.5em;
	width: 1em;
	border: thin solid;
	border-radius: 50%;
	text-decoration: none;
	text-align: center;
}

#signin {
}
#signin label {
	display: block;
	width: 90%;
	margin: 0.5em auto;
	text-align: center;
}
#signin input[type=text] {
	display: block;
	width: 90%;
	height: 1.5em;
	margin: auto;
	font-size: 1.25em;
}
#signin button {
	display: block;
	margin: 0.5em auto;
}

button {
	display: inline-block;
	background: lightgreen;
	transition: all 0.8s;
	width: 30%;
	padding: 0.25em;
	font-size: 1.25em;
	border-radius: 15px;
	min-height: 3em;
	vertical-align: top;
}
button:disabled,
button[disabled],
#end_game_btn:disabled,
#end_game_btn[disable] {
	background: #ddd;
	cursor: not-allowed;
}

#game_over_overlay {
	width: 100%;
	margin: 1em auto;
	border: thin solid;
	border-radius: 15px;
	text-align: center;
}
#game_over_overlay.win {
	background: #2d9;
}
#game_over_overlay.ended {
	background: #ccc;
}
#game_over_text {
	font-size: 150%;
}
#game_over_name {
	font-size: 200%;
	font-weight: bold;
}

#room_info {
	border-bottom: thick solid;
	padding: 0.1em;
	background: #ddd;
}
#player_name {
	font-size: 110%;
	font-weight: bold;
}
#room_code {
}

#turn_info {
	width: 100%;
}
#turn_info div {
	box-sizing: border-box;
	padding: 0.2em;
	float: left;
	width: 33%;
	text-align: center;
}
#last_roll {
	font-size: 90%;
}
#current_turn_name,
#current_score,
#last_roll_score,
#previous_turn_label {
	font-weight: bold;
}

canvas {
	width: 100%;
	clear: both;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

#game_controls {
	text-align: center;
}
#game_controls button {
}

#players {
	margin: 0.5em auto;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}
#players .current_turn {
	background: #0bd;
}
#players td {
	padding: 0.2em;
}
#players .player_turn,
#players .player_place {
	width: 10%;
}
#players .player_name,
#players .player_score {
	width: 40%;
}

#member_list {
	width: 100%;
	display: flex;
	padding: 0;
	margin: 0;
}
#member_list li {
	list-style-type: none;
	padding: 0.2em;
}
#member_list li:nth-child(odd) {
	background: #ccc;
}

#more_options {
	margin-top: 1em;
	padding: 0.4em;
	background: #ddd;
}
input#more_options_toggle {
	display: none;
}
input#more_options_toggle + label {
	display: block;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
}
input#more_options_toggle + label::before {
	display: inline-block;
	margin-right: 0.2em;
	border: solid;
	border-width: 0 0.2em 0.2em 0;
	padding: 0.2em;
	transition: all .5s ease;
	content: "";
	transform: rotate(-45deg);
}
input#more_options_toggle:checked + label::before {
	transform: rotate(45deg);
}
#more_options_content {
	transition: max-height 1.0s ease-out;
	max-height: 0;
	overflow: hidden;
}
input#more_options_toggle:checked ~ #more_options_content {
	transition: max-height 1.0s ease-in;
	max-height: 500px;
}

#more_options_content label {
	display: inline-block;
	box-sizing: border-box;
	width: 50%;
	margin: 1em auto;
	padding: 0.2em;
	text-align: right;
}

#dice_set_choice {
	font-size: 1.0em;
}

#end_game_btn {
	display: block;
	margin: auto;
	background: orangered;
}

footer {
	margin: auto;
	text-align: center;
	font-size: 85%;
}
