<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{SITENAME}</title>

	<link rel="stylesheet" href="{SITEURL}/dice.css">
	<script>
		var TOP_URL = '{SITEURL}';
		var WS_URL = '{WEBSOCKET_URL}';
		var DEBUG = {DEBUG};
	</script>
	<script src="{SITEURL}/dice.js"></script>
</head>

<body>

<h1>{SITENAME}</h1>

<div id="error_msgs">
</div>

<div id="signin">
	<form id="join_room">
		<label for="player_name_input">Name</label>
		<input type="text" id="player_name_input" name="player_name_input">
		<label for="room_code_input">Room Code</label>
		<input type="text" id="room_code_input" name="room_code_input">
		<button type="button" id="join_btn">Join Room</button>
	</form>
</div>

<div id="game_room" style="display: none;">
	<div id="game_over_overlay" style="display: none;">
		<a href="#no" id="game_over_close_btn" class="close_btn">X</a>
		<p id="game_over_text"></p>
		<p id="game_over_name"></p>
	</div>

	<div id="room_info">
		<span id="player_name"></span> ::
		<span id="room_code"></span>
	</div>

	<div id="game_space">
		<div id="turn_info">
			<div id="turn">
				<span id="current_turn_name">(nobody)</span>'s turn
			</div>
			<div id="score">
				Score: <span id="current_score">0</span><br>
				<span id="last_roll">
					(Last roll: <span id="last_roll_score">0</span>)
				</span>
			</div>
			<div id="previous_turn">
				<span id="previous_turn_label">Last Turn</span><br>
				<span id="previous_turn_name"></span>
				<span id="previous_turn_result"></span>
			</div>
		</div>

		<canvas id="dice" width="368" height="80"></canvas>

		<form id="game_controls">
			<button type="button" id="start_btn">Start Game</button>
			<button type="button" id="roll_btn">Roll</button>
			<button type="button" id="stop_roll_btn">Stop Rolling</button>
		</form>

		<table id="players">
		</table>
	</div>

	<div id="members">
		Who's here
		<ul id="member_list">
		</ul>
	</div>

	<div id="more_options">
		<input type="checkbox" id="more_options_toggle">
		<label for="more_options_toggle">More Options</label>
		<div id="more_options_content">
			<label for="dice_set_choice">Dice Set</label>
			<select name="dice_set_choice" id="dice_set_choice">
				<option value="0">White</option>
				<option value="1" selected>Red</option>
				<option value="2">Blue</option>
				<option value="3">Numbers</option>
				<option value="4">Bees!</option>
			</select>
			<button type="button" id="end_game_btn">End Game</button>
		</div>
	</div>
</div>

<pre id="debug_console"></pre>

<footer>
	<p id="copyright">&copy; {COPYRIGHT}</p>
</footer>

</body>
</html>
